falcon==1.1.0
gunicorn==19.6.0
Jinja2==2.9.5
pycrypto==2.6.1
pytest==3.0.6
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
Sphinx==1.5.2
sphinxcontrib-napoleon==0.6.0
sphinxcontrib-rextheme==0.1.2
SQLAlchemy==1.1.5
tabulate==0.7.7
